.dualBoxContainer{
  width:100%;
  direction:rtl;
  margin-bottom: 2vh;
}
.dualBox{
  height: 100%;
  display: table;
  min-height: 10vh;
  margin: 2px 2px 2px 2px;
  margin-left: auto;
  margin-right: auto;
}
input[type="text"] , textarea{
  margin-top: 1vh;
  padding: 3px 7px 3px 7px;
  direction: rtl;
  width: 93%;
  border: 2px solid #eeeef0;
  font-size: 1.5em;
  resize: none;
  font-family: IRANSans !important;
}
.contactUs{
  margin-top: 1vh;
  width: 95%;
  border: 2px solid #4c6f8d;
  min-height: 40vh;
}
input[type="checkbox"]{
  width: 15px;
  height: 15px;
}
.checkBoxContainer{
  height:4vh;
  font-size: 1.5vh;
}
.notBotContainer{
  /* border:2px solid #efeef3; */
  direction: rtl;
  display: inline-block;
  width:45%;
  margin-top: 15px;
  margin-left: 27%;
  margin-right: 27%;
  height: 100%;
  float:right;
  padding-top: 1vh;
}
.buttonContainer{
  width: 100%;
}
button{

  background-color: #70ac48;
  border:none;
  border-radius: 5px;
  color:white;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-weight: bolder;
  font-size: 1.5em;
  display: table;
  margin:4vh auto;
}
.mapPosition{
  width: 95%;
}
/* /////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width: 780px) {
.dualBoxContainer{
  flex-direction: row;

}
.dualBox{
  width: 96%;
}
button{
  width:45%;
}
.mapPosition{
  margin-top: 2vh;
}
}
@media only screen and (min-width: 781px) {
  .dualBoxContainer{
    display: flex;
  }
  .dualBox{
    width: 48%;
  }
  button{
    width:20%;

  }
}
