<div class="dualBoxContainer">
  <div class="dualBox">
    <div *ngFor="let field of contactUsFields">
      <input *ngIf="field.type==='text'" [type]="field.type" [placeholder]="field.placeholder"/>
      <textarea rows="4" *ngIf="field.type==='textarea'" [placeholder]="field.placeholder"></textarea>
  </div>
  </div>
  <div class="dualBox">
    <div class="ql-editor contactUs" [innerHtml]="contactUsText">
      </div>
  </div>
</div>
<div class="dualBoxContainer">
  <div class="dualBox">
      <re-captcha class="notBotContainer" (resolved)="resolved($event)" style=";margin:0; auto;transform:scale(0.99);-webkit-transform:scale(0.99);transform-origin:0 0;-webkit-transform-origin:0 0;"></re-captcha>
  </div>
  <div class="dualBox">
    <div class="mapPosition" >
    {{mapPosition}}
    </div>
  </div>
</div>
<div class="buttonContainer">
<button>
  {{send}}
</button>
</div>
