<div class="dualBoxContainer">
  <div class="dualBox">
    <div *ngFor="let field of contactUsFields" class="fields">
      <ng-template [ngIf]="field.type==='text'" [ngIfElse]="textArea" >
        <span class="star" *ngIf="field.req">*</span>
        <input  [type]="field.type" [placeholder]="field.placeholder"/>
      </ng-template>
      <ng-template #textArea>
        <span class="star" *ngIf="field.req">*</span>
        <textarea rows="4"  [placeholder]="field.placeholder"></textarea>
      </ng-template>
  </div>
  </div>
  <div class="dualBox">
    <div class="ql-editor contactUs" *ngIf="contactUsText" [innerHtml]="contactUsText | safeHtml">
      </div>
  </div>
</div>
<div class="dualBoxContainer">
  <div class="dualBox ">
    <div class="recaptchaBox">
      <re-captcha class=""  ></re-captcha>
    </div>
  </div>
  <div class="dualBox">
    <div class="mapsPart">
    <div class="mapPosition" >
      {{mapPosition}}
    </div>
    <div class="maps">
    <agm-map [zoom]="17"  [latitude]="lat" [longitude]="lng" [mapDraggable]="false" [zoomControl]="true" [streetViewControl]="false" [scrollwheel]="true">
      <agm-marker [latitude]="lat" [longitude]="lng">
        <agm-info-window>MagsaCo</agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
  </div>
</div>
</div>
<div class="buttonContainer">
<button>
  {{send}}
</button>
</div>
