.title{
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
  color: white;
  background-color: #5a9bd5;
  padding: 2vh 4vw 2vh 4vw ;
  margin-top: 2vh;
}
.container{
  border: 2px solid #4b6f91;
}
.recommendationContainer{
  border: 2px solid #587f3d;
}
.overviewContainer{
  display: flex;
  display: 100%;
  display: rtl;
  /* font-size: 1.2em; */
  font-size: 2vh;
  font-weight: bold;
}

.overal{
  width: 65%;
  border-right: 2px solid #4b6f91;

}
.colorIndicator{
  width: 35%;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.indicator{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  text-align: center;
  color: white;
  vertical-align: middle;
  line-height: 200px;
  font-size: 3vh;
}
.green{
  background-color: #70bf44;
}
.blue{
  background-color: #46c6e7;
}
.yellow{
  background-color: #efe943;
}
.orange{
  background-color: #ee582b;
}
.red{
  background-color: #ff0000;
}
.darkBlue{
  background-color: #5a9bd5;
}
.overalRow{
  direction: rtl;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 1em;
}
.overalRow span{
  direction: ltr!important;
}
.recommendationContainer tr:nth-child(even){
  background-color: #c6ffcc;
}
table{
  width: 100%;
  table-layout: fixed;
  /* direction: rtl; */
  font-size: 2vh;

  text-align: center;
  vertical-align: middle;
}

td th{
  text-align: center;
  vertical-align: middle;
}
tr:nth-child(even){
  background-color: #deeaf6;
}
.scoreCol{
  width:10%;
}
.testStatusCol{
  width:10%;
}
.testTiltleCol{
  width:30%;
}
.downloadCol{
  width: 10%;
}
.recommendationCol{
  width: 60%;
}
.passStatusCol{
  width: 10%;
}
.fullDescCol{
  width: 6%;
}
.describtionCol{
  width:34%;
}
.passStatus{
  width: 10%;
}
.fullDescData{
  position: relative;
}
.tooltip{
  visibility: hidden;
  position: absolute;
  min-width: 100%;
  min-height: 4vh;
  background-color: black;
  padding: 5px 7px 5px 7px;
  border-radius: 6px;
  color: #fff;
  z-index: 1;
  left: 110%;
  top:0;
}
.fullDescData .tooltip::after{
  content: "";
  position: absolute;
  top: 2vh;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.fullDescData:hover .tooltip {
  visibility: visible;
}
.testPass{
  width:10%;
}
.error{
  background-color: red;
  color:white;
}
.pending{
  background-color: orange;
  color:white;
}
.finished{
  background-color: green;
  color:white;
}
.info{
  cursor: pointer;
  font-size: 1.5em;
}
.recommendation{
  background-color: #70ad46;
}
a{
  text-decoration: none;
  color: black;
}
.botButtomContainer{
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.buttonRow{
  /* display:inline-block; */
}
.inline{
  display:inline;
}
.botButtomContainer button{
  padding: 6px 4px 6px 4px ;
  border-radius: 10px ;
  width: 80%;
  margin-top:1vh;
  color: white;
  font-weight: bolder;
  margin-right: 5%;
}

@media only screen and (max-width: 780px) {

.scoreCol{
  width:10%;
}
.testStatusCol{
  width:12%;
}
.testTiltleCol{
  width:30%;
}
.passStatusCol{
  width: 12%;
}
.fullDescCol{
  display:none;
}
.fullDescData{
  display:none;
}
.describtionCol{
  width:30%;
}

}
