.background{
  background-color: #5a9bd5;
  min-height: 5vh;
  overflow: auto;
  padding-top: 1vh;
  padding-bottom: 1vh;
  position: fixed;
  width:100% !important;
  bottom: 0;
  overflow: hidden;

}
.footer{
  color:white;
  font-weight: bold;
}
.footNote{
  /* float: left !important; */
  position: absolute;
  width: 99%;
  /* margin-left: 15px;
  margin-right: 15px; */
  overflow: hidden;
}
.copyRight{
  /* float: right !important; */
  position: absolute;
  width: 99%;
  /* margin-left: 15px;
  margin-right: 15px; */
  overflow: hidden;
}
/* /////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width: 780px) {
.footer{
  font-size: 15px;
}

}
@media only screen and (min-width: 781px) {

  .footer{
    font-size: 25px;
  }

}
