<div class="background">
  <div>
  <a class="logoLink" [href]="destination"><div><img *ngIf="logo" [src]="logo" class="logo"/></div></a>
  <div class="ql-editor title" [innerHtml]="siteTitle | safeHtml">
  </div>
  <div class="language">
    EN
    </div>
  </div>
  <div class="linksContainer">
    <input type="checkbox" id="nav-check">
    <label for="nav-check">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <div class="linksAcardion">
    <a class="links" *ngFor="let link of links" [routerLink]="link.link" [routerLinkActive]="['activeLink']">
      {{link.name}}
    </a>
  </div>
</div>

</div>
