<div class="background">
  <div>
  <a class="logoLink" [href]="destination"><div><img *ngIf="logo" [src]="logo" class="logo"/></div></a>
  <div class="ql-editor title" [innerHtml]="siteTitle | safeHtml">
  </div>
  <div class="language">
    EN
    </div>
  </div>
  <div class="linksContainer" >
    <div tabindex="-1"  id="nav-check"  (click)="click()" (blur)="onBlur()" >
    <!-- <label for="nav-check" > -->
    <div [class.firstDiv]="toggle"><span></span></div>
    <div [class.secondDiv]="toggle"><span></span></div>
    <div [class.thirdDiv]="toggle"><span></span></div>
    </div>
  <!-- </label> -->
  <div class="linksAcardion" [class.linksAaaa]="toggle">
    <a class="links" *ngFor="let link of links" [routerLink]="link.link" [routerLinkActive]="['activeLink']">
      {{link.name}}
    </a>
  </div>
</div>
</div>
