.background{
  background-color: #5a9bd5;
  min-height: 13vh;
  overflow:  visible;
  padding-top: 5vh;
  position: relative;
}
.title{
  position: relative;
  top:-4vh;
  text-align: center;
  font-weight: bold;
  color: white;
}
.logoLink{
  position: absolute;
}
.logo{
  float:left;
  height: 14vh !important;
  margin-top: -3.5vh;
  margin-left: 10px;
  border-radius: 50%;
  width: 14vh;
}
.language{
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1px 2px 1px 2px;
  border:1px solid white;
  border-bottom: none;
  border-left:none;
}
.linksContainer{
  position: absolute;
  bottom: 0;
  /* overflow: auto; */
  right: 1px;
  direction: rtl;
  width:100%;
}
.links{
  color:#5a9bd5;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  margin-left: 2px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-right: 1px;
  margin-bottom: 2px;
  background-color: white;
  padding: 1vh 2% 0.75vh 2%;
  font-weight: bold;
}
.links:visited{
  color:#5a9bd5;
}
.activeLink{
  background-color: #bfc0c1;
}
input{
  display: none;
}
span{
margin-right: 15px;
display: block;
width: 30px;
height: 10px;
border-top: 2px solid #eee;
}
.linksAcardion{
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.5s ease-in;
}
/* /////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width: 780px) {
  .linksAcardion{
    position: absolute;
    top: 5vh;
  }
  .title{
    font-size: 27px;
  }

  .linksAcardion{
      height: 0;
      width:99vw;
    }
  #nav-check:checked ~ .linksAcardion{
    height: 100vh;
    overflow-y: auto;
  }
  .links{
    display: block;
    background-color: #dee0e2;
    border-radius: 0;
    margin: 0;
  }
}
@media only screen and (min-width: 781px) {
  span{
  display: none;
  }
  .title{
    font-size: 45px;
  }
  .links{

  }

}
