<app-moto></app-moto>
<div class="ql-editor baseFontColor basicWindow introduction" [innerHtml]=introduction>
</div>
<div class="basicContainer" >
  <input class="baseFontColor" type="text" [placeholder]="ipInputPlaceHolder" [(ngModel)]="siteAdress"/>
</div>
<div class="basicContainer  baseFontColor" >
  <div class="checkBoxContainer">
    <re-captcha class="notBotContainer"  [(ngModel)]="recaptcha" ></re-captcha>
    <div class="exposeContainer">
      <input type="checkbox" [(ngModel)]="expose" />
       {{exposeText}}
    </div>
</div>
</div>
<div class="buttonContainer" (click)="submit()">
<button>
  {{test}}
</button>
</div>
