<app-moto></app-moto>
<div class="baseFontColor basicWindow introduction">
  {{introduction}}
</div>
<div class="basicContainer" >
  <input class="baseFontColor" type="text" [placeholder]="ipInputPlaceHolder"/>
</div>
<div class="basicContainer  baseFontColor" >
  <div class="checkBoxContainer">
    <re-captcha class="notBotContainer" (resolved)="resolved($event)" siteKey="6LdWKpUUAAAAAPXSHP8T7wd_9qomdXRamOJJ2-mE" ></re-captcha>
    <div class="exposeContainer">
      <input type="checkbox"/>
       {{exposeText}}
    </div>
</div>
</div>
<div class="buttonContainer">
<button>
  {{test}}
</button>
</div>
