.basicWindow{
  text-align: center;
  vertical-align: middle;
  border:2px solid #576e80;
  margin-top: 1vh;
  font-weight: bold;
  font-size: 1.2em;
}
.moto{
  min-height: 6vh;
}
.introduction{
  min-height: 24vh;
}
.basicContainer{
  margin: 3vh auto;
}
input[type="text"]{
  width:99%;
  height: 6vh;
  border:2px solid #efeef3;
  text-align: center;
  font-size: 3vh;
}
.checkBoxContainer{
  /* direction: rtl; */
  height:3vh;
}
.exposeContainer{
  margin-left: 2%;
  border:2px solid #efeef3;
  direction: rtl;
  display: inline-block;
  width:56%;
}
.notBotContainer{
  margin-left: 2%;
  border:2px solid #efeef3;
  direction: rtl;
  display: inline-block;
  width:36%;
}
/* /////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width: 780px) {
.basicContainer{
  width:100%;
}
}
@media only screen and (min-width: 781px) {
.basicContainer{
  width:80%;
  }
}
