.basicWindow{
  text-align: center;
  vertical-align: middle;
  border:2px solid #576e80;
  margin-top: 1vh;
  font-weight: bold;
  font-size: 1.2em;
}

.introduction{
  min-height: 24vh;
}
.basicContainer{
  margin: 3vh auto;
}
input[type="text"]{
  width:99%;
  height: 6vh;
  border:2px solid #efeef3;
  text-align: center;
  font-size: 3vh;
}

input[type="checkbox"]{
}
.checkBoxContainer{
  display: table;
  margin-left: auto;
  margin-right: auto;
  direction: rtl;
  /* height:4vh; */
  width: 100%;
  font-size: 1.5vh;
  position: relative;
}
.exposeContainer{
  border:2px solid #efeef3;
  display: inline-block;
  direction: rtl;
  position: absolute;
  width:45%;
  text-align: center;
  left: 0;
  margin:0 auto;
  /* font-size: 1.2em; */
  padding-top: 2vh;
  height: 5vh;
}
.notBotContainer{
  display: inline-block;
  margin:0 auto;

}
button{

  background-color: #70ac48;
  border:none;
  border-radius: 5px;
  color:white;
  height: 5vh;
  font-weight: bolder;
  font-size: 1.5em;
  margin:4vh auto;
}
.buttonContainer{
  width: 100%;
}
/* /////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width: 768px) {
.exposeContainer{
  display: table;
  width: auto;
  margin: 0 auto;
  position: relative;
  margin-top: 2vh;

}
.notBotContainer{
  display: table;
  margin-top: 2vh;
  margin-left: auto!important;
  margin-right: auto;
}
.basicContainer{
  width:100%;
}
button{
  width:45%;
  margin-left:27%;
  padding-bottom: 6vh;
}
}
@media only screen and (min-width: 769px)and (max-width: 992px) {
.basicContainer{
  width:100%;
  }
  button{
    width:30%;
    margin-left:35%;
  }
}
@media only screen and (min-width: 993px)and (max-width: 1200px) {
  .basicContainer{
    width:100%;
    }
    button{
      width:30%;
      margin-left:35%;
    }
}
@media only screen and (min-width: 1201px) {
  .basicContainer{
    width:90%;
    }
    button{
      width:30%;
      margin-left:35%;
    }
}
