<app-moto></app-moto>
<div class="ql-editor baseFontColor basicWindow introduction" [innerHtml]=introduction>
</div>
<div class="basicContainer" >
  <input class="baseFontColor" type="text" [placeholder]="ipInputPlaceHolder"/>
</div>
<div class="basicContainer  baseFontColor" >
  <div class="checkBoxContainer">
    <re-captcha class="notBotContainer" (resolved)="resolved($event)" ></re-captcha>
    <div class="exposeContainer">
      <input type="checkbox"/>
       {{exposeText}}
    </div>
</div>
</div>
<div class="buttonContainer">
<button>
  {{test}}
</button>
</div>
