input[type="text"], input[type="password"]{
  width: 90%;
  margin-left: 5%;
  margin-bottom: 2vh;
  margin-top: 2vh;
  /* display: block; */
  text-align: center;
  font-size: 2em;
  padding: 1vh 0 1vh 0;
  color: #698ec2;
}
::placeholder{
  color: #698ec2;
}
button
{
  background: #73ab46;
  border:none;
  border-radius: 15px;
  color: white;
  font-size:2em;
  min-width:20%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-top: 2vh;
}
.centric{
display: table;
margin-left: auto;
margin-right: auto;
}
.container{
  position: table;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.title{
  font-size: 2em;
  font-weight: bold;
  border-radius: 15px;
  border:2px solid black;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 4vh;
}
/* /////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width: 768px) {
.container{
  width: 90%;
}
}
