.container
{
  direction: rtl;
  margin-top: 2vh;

}
.title
{
  cursor:pointer;
  border: 2px solid #5a9bd5;
  padding: 1vh 2vw 1vh 2vw;
  background: -moz-linear-gradient(0deg, rgba(177,215,242,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(177,215,242,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(0deg, rgba(177,215,242,1) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(0deg, rgba(177,215,242,1) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(0deg, rgba(177,215,242,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(90deg, rgba(177,215,242,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B1D7F2', endColorstr='#FFFFFF',GradientType=1 );
  transition: 0.4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
.qa{
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border: 2px solid #5a9bd5;
  border-top: none;
  border-bottom: none;
  overflow: hidden;
  max-height: 0;

}
.header{
  font-size: 1.2em;
  margin-right: -1%;
  font-weight: bold;
}
.open{
  max-height: 100%;
  border-bottom:2px solid #5a9bd5;

}
.question
{
  padding: 1vh 2vw 1vh 2vw;

}
.answer
{
  padding: 1vh 2vw 1vh 2vw;

}
