/* You can add global styles to this file, and also import other style files */
@import url(font.css); /*link for enable fonts*/
*{
  	font-family: IRANSans !important;
}

body{
  margin: 0;
}
input, textarea {
  background-color: #fff;
  color: #222;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #243e55;
}
.baseFontColor{
  color: #2e80a8;
}
.baseFontColor::placeholder{
  color: #2e80a8;
}
::placeholder{
  opacity: 0.4!important;
}
a,button ,label {
  cursor: pointer!important;
}
button:disabled{
  cursor:not-allowed!important;
}
button:hover{
  box-shadow: 2px 3px #888888;;
}
button:hover:disabled{
  box-shadow: none;
}
td{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
