<div class="title">
  {{uploaderTitle}}
</div>
<div class="container">
<div class="dropZone" (dragover)="dragover($event)" (drop)="drop($event)">
  <input id="file" type="file" (change)="fileReader($event.target.files)" [(ngModel)]="fileHtml" >
  <div class="deepIn">
  <span>{{dragText}}</span>
  <label for="file">
    {{selectFile}}
    </label>
  </div>
</div>
<div class="progressBarContainer">

  <div class="progressBarProxy">
  <div class="progressBar" [style.width.%]="value">
  </div>
</div>
    <div class="progressBarValue">
      {{value}}%
    </div>
</div>
<div class="box">
  {{uploadPlace}}
  <div class="basePath">
  {{basePath}}
  </div>
</div>
<div class="box">
  <input [(ngModel)]="override" type="checkbox"/>
  {{allowOverrider}}
</div>
<div class="dirTreeContainer" >
<tree-root [nodes]="nodes" [options]="options" ></tree-root>
</div>
</div>
